page-ridehistory {


    .font-m{
        font-size:small;
        font-weight: 400;
      }

      .details{

        width: 100%;
      
        
    }
    .flex-row{
        display: flex;
       
       
    }
    .profile{
        border-radius: 8px;       
        height: 50px;
        width: 50px;
    }

    .flex-end{
        flex-wrap: wrap;
        width:50%;
    }
}
