page-yourride {
 
    .details{

        width: 100%;
        
    }
    .flex-row{
        display: flex;
       
       
    }
    .gap{
        padding-right:20px;
    }
    .profile{
        border-radius: 8px;       
        font-size: 16px;
        height: 60px;
        width: 60px;
    }
    .flex-end{
        flex-wrap: wrap;
        width:50%;
    }
    
    .align{
        display: flex ;
        justify-content: center ;
        align-items: center ;
        height: 100%;
    }
    #menu{
        font-size:2em;
        cursor: pointer;
      }
}
