page-yourride {
 
    .details{

        width: 100%;
        
    }
    .flex-row{
        display: flex;
        flex-direction: row;
    }
    .profile{
        padding-right: 10px;
        padding-top: 10px;
    }
    .align{
        display: flex ;
        justify-content: center ;
        align-items: center ;
        height: 100%;
    }
}
