// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.color{
    background-color:#00AFF5;
    text-align: center;
    //font-weight: bold;
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.top{
    padding-top: 1em;
}
.icon--list{
    padding-right:10px;
    color: #00AFF5;
    font-size: large;
    font-weight: 900;
}
.plabel {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .square {
    
    position: relative;
    width: 100%;
    height:100%;
    /* = width for a 1:1 aspect ratio */
   
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.profile{
    font-size: xx-large;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
.profile--image {
    background-color: grey-11;
    border-radius: 9px;
    height: 0;
    min-width: 12vw;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    > img {
      max-width: 20vw;
      min-width: 12vw;
    }
  }
  .profile--image-label {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &.large {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  
  .profile--image-label:hover, .profile--image-label:focus,
  .profile--image-small:hover .profile--image-label {
    opacity: 1;
  }


  .flex-bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
  .cover {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.full-center {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.t-white {
  color: #fff;
  letter-spacing: .04em;
}
.bg-darken, .modal--wrapper {
  background-color: rgba(0,0,0,.5);
}

.flex-h,
.flex-v {
  display: flex;
  position: relative;
}

.flex-h {
  flex-direction: row;
  max-height: 100%;
  &.btwn {
    justify-content: space-between;
  }
  &.reverse {
    flex-direction: row-reverse;
  }
  &.around {
    justify-content: space-around;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.center {
    justify-content: center;
  }
}

.flex-v {
  flex-direction: column;
  max-width: 100%;
  &.btwn {
    justify-content: space-between;
  }
  &.reverse {
    flex-direction: column-reverse;
  }
  &.around {
    justify-content: space-around;
  }
  &.flex-wrap {
    flex-wrap: wrap;
  }
  &.end {
    justify-content: flex-end;
  }
}

.flex-main {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  > input {
    max-width: 100%;
  }
  > .range {
    max-width: 94%;
  }
  > video {
    width: 100%;
  }
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-main,
.flex-item {
  &.stretch {
    align-self: stretch;
  }
  > .span-medium {
    vertical-align: -3px;
  }
  &.paddingAround {
    padding: 0 15px;
  }
}

.flex-v > .flex-main,
.flex-v > .flex-item {
  &.pad {
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

.flex-h > .flex-main,
.flex-h > .flex-item {
  &.pad {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.flex-fill {
  flex-grow: 1;
  flex-shrink: 0;
}

.flex-fit {
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-left {
  align-items: flex-start;
}

.self-left {
  align-self: flex-start;
}

.flex-center {
  align-items: center;
}

.self-center {
  align-self: center;
}

.flex-right {
  align-items: flex-end;
}

.container {
  position: relative;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}


.container .btn {
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
.bar-buttons-md{
order:3
}

.text-cemter{
  text-align: center;
}