<ion-header>

  <ion-navbar>
    <ion-title>findRide</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="ridesAvailable==false">

  <ion-searchbar [(ngModel)]="findfrom" placeholder="From" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
    class="from" #frindfrom></ion-searchbar>

  <ion-searchbar [(ngModel)]="findto" placeholder="Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
    class="toAddress" #destination></ion-searchbar>
  <div id="maps" #map></div>
  <button ion-button block (click)="findRide()" color="primary">Find Ride</button>




</ion-content>

<ion-content id="findRide" *ngIf="ridesAvailable">

  <ion-list>

    <ion-item-sliding #item>
      <ion-item>
        Item
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="favorite(item)">Favorite</button>
        <button ion-button color="danger" (click)="share(item)">Share</button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button (click)="unread(item)">Unread</button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>