<ion-header>

  <ion-navbar>
    <ion-icon id="menu" ios="ios-contact-outline" md="md-contact" menuToggle="left"></ion-icon>
    <ion-title text-center>findRide</ion-title>
    <ion-icon id="menu" ios="ios-notifications-outline" md="md-notifications" menuToggle="right" end>
      <ion-badge>2</ion-badge>
    </ion-icon>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="!isRideAvailable">

    <ion-searchbar [(ngModel)]="findfrom" placeholder="From" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
      class="from" #frindfrom></ion-searchbar>

    <ion-searchbar [(ngModel)]="findto" placeholder="Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
      class="toAddress" #destination></ion-searchbar>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate" [(ngModel)]="selectedDate">select Date</ion-datetime>
    </ion-item>
    <ion-item *ngIf="!seatsRequired">

      <ion-label>
        <img width="30px" height="30px" src="../assets/icon/express.jpg" />
      </ion-label>
      <ion-select [(ngModel)]="courierWeight" end>
        <ion-label>weight </ion-label>
        <ion-option value="10"> < 10 KG</ion-option>
        <ion-option value="20"> < 20 KG</ion-option>
        <ion-option value="30"> < 50 KG</ion-option>
        <ion-option value="5"> < 5 KG</ion-option>

      </ion-select>
    </ion-item>
    <ion-item *ngIf="!courierWeight">
      <ion-label>
        <img width="30px" height="30px" src="../assets/icon/seat.svg" />
      </ion-label>


      <ion-select [(ngModel)]="seatsRequired" end>
        <ion-label>Select Seats required</ion-label>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>

      </ion-select>

    </ion-item>
    <button ion-button block (click)="findRide()" color="primary">Find Ride or Deliver Courier</button>

  </div>
  <div id="maps" #maps *ngIf="!isRideAvailable"></div>

  <ion-list *ngIf="isRideAvailable && !isRideSelected">
    <ion-item *ngFor="let item of profile">

      <div class="details" *ngFor="let subitem of item" (click)="rideSelcted(subitem)">

        <div class="flex-row">

          <div *ngIf="subitem.photo  && subitem.photo!==''">
            <ion-avatar class="profile" item-start>
              <img src="data:{{subitem.photo.contentType}};base64,{{subitem.photo.data}}">
            </ion-avatar>
          </div>

          <div *ngIf="!subitem.photo">
            <ion-avatar class="profile" item-start>
              <img src="">
            </ion-avatar>
          </div>

          <div>
            <h3>{{subitem.from.address}}</h3>
            <h3>to</h3>
            <h3>{{subitem.to.address}}</h3>
            <h3>{{subitem.date}}</h3>
            <h3>{{subitem.seatsAvailable}} seats Avaialable</h3>

          </div>

        </div>
      </div>

    </ion-item>
  </ion-list>


  <div *ngIf="isRideSelected">



    <div class="text-center">


      <ion-grid>

        <ion-card *ngIf="selectedRide.photo && selectedRide.photo!=='' " item-start>
          <img src="data:{{selectedRide.photo.contentType}};base64,{{selectedRide.photo.data}}">
        </ion-card>
        <ion-card *ngIf="!selectedRide.photo" item-start>
          <img src="">
        </ion-card>
        <ion-row>
          <ion-col>
              <ion-icon color="primary" name="pin">From</ion-icon>
               {{selectedRide.from.address}}
          </ion-col>

          <ion-col>
              <ion-icon color="primary" name="pin">To</ion-icon>
          
            {{selectedRide.to.address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-icon color="primary" name="pin"> Drop off</ion-icon>
          </ion-col>
          <ion-col>
            {{rideDetails.to.address}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon color="primary" name="calendar"></ion-icon>
          </ion-col>
          <ion-col>
            {{selectedRide.date}}
          </ion-col>

          <ion-col>
            <ion-icon color="primary" name="alarm"></ion-icon>
          </ion-col>
          <ion-col>
            {{selectedRide.time}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            D(KM):
          </ion-col>
          <ion-col>
            {{selectedRide.distance}} Km
          </ion-col>

          <ion-col *ngIf="seatsAvailable">
            <img width="20px" height="20px" src="../assets/icon/seat.svg" />   
          </ion-col>
          <ion-col *ngIf="courierWeight">
               
               <img width="30px" height="30px" src="../assets/icon/express.jpg" />
          </ion-col>
          <ion-col *ngIf="courierWeight">
              {{courierWeight}}
          </ion-col>
          <ion-col *ngIf="seatsAvailable">
            {{seatsRequired}}
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon color="primary"  name="cash"></ion-icon>
          </ion-col>
          <ion-col>
            Rs{{costPerRide}}
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>

    <button ion-button block class="text-center" (click)="confirmRide(selectedRide)">Confirmride</button>
  </div>





</ion-content>